@model IEnumerable<Infrastructure.Models.ParamsEntity>

@{
    ViewBag.Title = "List";
}

<h2>Parametrs</h2>


<table class="table" border="1" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Param1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param13)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param14)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param15)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param16)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param17)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param18)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param19)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param20)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Param1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Param2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Param3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Param4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Param5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Param6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Param7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Param8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Param9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Param10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Param11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Param12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Param13)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Param14)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Param15)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Param16)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Param17)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Param18)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Param19)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Param20)
        </td>
    </tr>
}

</table>
