@model IEnumerable<Infrastructure.Models.ParamsEntity>

@{
    ViewBag.Title = "List";
}

<h2>Parametrs</h2>

<table class="table" border="1">
    <tr style="background-color:rgb(65, 96, 216);">
        <th>
            ParamName
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param13)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param14)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param15)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param16)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param17)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param18)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param19)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Param20)
        </th>
    </tr>

    @if (Model != null)
    {
        int i = 1;
        foreach (var item in Model)
        {
            <tr>
                <td>
                    Entity  @i
                </td>
                <td style="@Html.CalculateColor(item.Param1)">
                    @Html.DisplayFor(modelItem => item.Param1)
                </td>
                <td style="@Html.CalculateColor(item.Param2)">
                    @Html.DisplayFor(modelItem => item.Param2)
                </td>
                <td style="@Html.CalculateColor(item.Param3)">
                    @Html.DisplayFor(modelItem => item.Param3)
                </td>
                <td style="@Html.CalculateColor(item.Param4)">
                    @Html.DisplayFor(modelItem => item.Param4)
                </td>
                <td style="@Html.CalculateColor(item.Param5)">
                    @Html.DisplayFor(modelItem => item.Param5)
                </td>
                <td style="@Html.CalculateColor(item.Param6)">
                    @Html.DisplayFor(modelItem => item.Param6)
                </td>
                <td style="@Html.CalculateColor(item.Param7)">
                    @Html.DisplayFor(modelItem => item.Param7)
                </td>
                <td style="@Html.CalculateColor(item.Param8)">
                    @Html.DisplayFor(modelItem => item.Param8)
                </td>
                <td style="@Html.CalculateColor(item.Param9)">
                    @Html.DisplayFor(modelItem => item.Param9)
                </td>
                <td style="@Html.CalculateColor(item.Param10)">
                    @Html.DisplayFor(modelItem => item.Param10)
                </td>
                <td style="@Html.CalculateColor(item.Param11)">
                    @Html.DisplayFor(modelItem => item.Param11)
                </td>
                <td style="@Html.CalculateColor(item.Param12)">
                    @Html.DisplayFor(modelItem => item.Param12)
                </td>
                <td style="@Html.CalculateColor(item.Param13)">
                    @Html.DisplayFor(modelItem => item.Param13)
                </td>
                <td style="@Html.CalculateColor(item.Param14)">
                    @Html.DisplayFor(modelItem => item.Param14)
                </td>
                <td style="@Html.CalculateColor(item.Param15)">
                    @Html.DisplayFor(modelItem => item.Param15)
                </td>
                <td style="@Html.CalculateColor(item.Param16)">
                    @Html.DisplayFor(modelItem => item.Param16)
                </td>
                <td style="@Html.CalculateColor(item.Param17)">
                    @Html.DisplayFor(modelItem => item.Param17)
                </td>
                <td style="@Html.CalculateColor(item.Param18)">
                    @Html.DisplayFor(modelItem => item.Param18)
                </td>
                <td style="@Html.CalculateColor(item.Param19)">
                    @Html.DisplayFor(modelItem => item.Param19)
                </td>
                <td style="@Html.CalculateColor(item.Param20)">
                    @Html.DisplayFor(modelItem => item.Param20)
                </td>
            </tr>

            i++;
        }
        <tfoot style="background-color:rgb(76, 255, 0);">
            <tr id="sumFooter">
                <td>Sum:</td>
                <td>@Model.Sum(x => x.Param1).ToString("0.00")</td>
                <td>@Model.Sum(x => x.Param2).ToString("0.00")</td>
                <td>@Model.Sum(x => x.Param3).ToString("0.00")</td>
                <td>@Model.Sum(x => x.Param4).ToString("0.00")</td>
                <td>@Model.Sum(x => x.Param5).ToString("0.00")</td>
                <td>@Model.Sum(x => x.Param6).ToString("0.00")</td>
                <td>@Model.Sum(x => x.Param7).ToString("0.00")</td>
                <td>@Model.Sum(x => x.Param8).ToString("0.00")</td>
                <td>@Model.Sum(x => x.Param9).ToString("0.00")</td>
                <td>@Model.Sum(x => x.Param10).ToString("0.00")</td>
                <td>@Model.Sum(x => x.Param11).ToString("0.00")</td>
                <td>@Model.Sum(x => x.Param12).ToString("0.00")</td>
                <td>@Model.Sum(x => x.Param13).ToString("0.00")</td>
                <td>@Model.Sum(x => x.Param14).ToString("0.00")</td>
                <td>@Model.Sum(x => x.Param15).ToString("0.00")</td>
                <td>@Model.Sum(x => x.Param16).ToString("0.00")</td>
                <td>@Model.Sum(x => x.Param17).ToString("0.00")</td>
                <td>@Model.Sum(x => x.Param18).ToString("0.00")</td>
                <td>@Model.Sum(x => x.Param19).ToString("0.00")</td>
                <td>@Model.Sum(x => x.Param20).ToString("0.00")</td>
            </tr>
            <tr id="avgFooter">
                <td>Avg</td>
                <td>@Model.Average(x => x.Param1).ToString("0.00")</td>
                <td>@Model.Average(x => x.Param2).ToString("0.00")</td>
                <td>@Model.Average(x => x.Param3).ToString("0.00")</td>
                <td>@Model.Average(x => x.Param4).ToString("0.00")</td>
                <td>@Model.Average(x => x.Param5).ToString("0.00")</td>
                <td>@Model.Average(x => x.Param6).ToString("0.00")</td>
                <td>@Model.Average(x => x.Param7).ToString("0.00")</td>
                <td>@Model.Average(x => x.Param8).ToString("0.00")</td>
                <td>@Model.Average(x => x.Param9).ToString("0.00")</td>
                <td>@Model.Average(x => x.Param10).ToString("0.00")</td>
                <td>@Model.Average(x => x.Param11).ToString("0.00")</td>
                <td>@Model.Average(x => x.Param12).ToString("0.00")</td>
                <td>@Model.Average(x => x.Param13).ToString("0.00")</td>
                <td>@Model.Average(x => x.Param14).ToString("0.00")</td>
                <td>@Model.Average(x => x.Param15).ToString("0.00")</td>
                <td>@Model.Average(x => x.Param16).ToString("0.00")</td>
                <td>@Model.Average(x => x.Param17).ToString("0.00")</td>
                <td>@Model.Average(x => x.Param18).ToString("0.00")</td>
                <td>@Model.Average(x => x.Param19).ToString("0.00")</td>
                <td>@Model.Average(x => x.Param20).ToString("0.00")</td>
            </tr>
            <tr id="minFooter">
                <td>Min</td>
                <td>@Model.Min(x => x.Param1)</td>
                <td>@Model.Min(x => x.Param2)</td>
                <td>@Model.Min(x => x.Param3)</td>
                <td>@Model.Min(x => x.Param4)</td>
                <td>@Model.Min(x => x.Param5)</td>
                <td>@Model.Min(x => x.Param6)</td>
                <td>@Model.Min(x => x.Param7)</td>
                <td>@Model.Min(x => x.Param8)</td>
                <td>@Model.Min(x => x.Param9)</td>
                <td>@Model.Min(x => x.Param10)</td>
                <td>@Model.Min(x => x.Param11)</td>
                <td>@Model.Min(x => x.Param12)</td>
                <td>@Model.Min(x => x.Param13)</td>
                <td>@Model.Min(x => x.Param14)</td>
                <td>@Model.Min(x => x.Param15)</td>
                <td>@Model.Min(x => x.Param16)</td>
                <td>@Model.Min(x => x.Param17)</td>
                <td>@Model.Min(x => x.Param18)</td>
                <td>@Model.Min(x => x.Param19)</td>
                <td>@Model.Min(x => x.Param20)</td>
            </tr>
            <tr id="maxFooter">
                <td>Max</td>
                <td>@Model.Max(x => x.Param1)</td>
                <td>@Model.Max(x => x.Param2)</td>
                <td>@Model.Max(x => x.Param3)</td>
                <td>@Model.Max(x => x.Param4)</td>
                <td>@Model.Max(x => x.Param5)</td>
                <td>@Model.Max(x => x.Param6)</td>
                <td>@Model.Max(x => x.Param7)</td>
                <td>@Model.Max(x => x.Param8)</td>
                <td>@Model.Max(x => x.Param9)</td>
                <td>@Model.Max(x => x.Param10)</td>
                <td>@Model.Max(x => x.Param11)</td>
                <td>@Model.Max(x => x.Param12)</td>
                <td>@Model.Max(x => x.Param13)</td>
                <td>@Model.Max(x => x.Param14)</td>
                <td>@Model.Max(x => x.Param15)</td>
                <td>@Model.Max(x => x.Param16)</td>
                <td>@Model.Max(x => x.Param17)</td>
                <td>@Model.Max(x => x.Param18)</td>
                <td>@Model.Max(x => x.Param19)</td>
                <td>@Model.Max(x => x.Param20)</td>
            </tr>
            <tr>
                <td colspan="3">
                    Aggregation mode:
                    <select id="agrMod" onchange="SetFooterVisible(this.value)"; name="actionSummary">
                        <option value="min">Min</option>
                        <option value="sum">Sum</option>
                        <option value="max">Max</option>
                        <option value="avg">Avg</option>
                    </select>
                </td>
            </tr>
        </tfoot>
    }
</table>

@section Scripts {
    <script type="text/JavaScript">

        $(document).ready(function () {
            var agrMode = getCookie('agrMode');
            var currentFooter = agrMode + 'Footer';

            HideAllFooter();

            if (agrMode) {
                var footer = document.getElementById(currentFooter);

                if (footer) {
                    footer.style.display = 'table-row';
                    let element = document.getElementById('agrMod');
                    element.value = agrMode;
                }
                else {
                    SetDefaultFooter();
                }
            }
            else {
                SetDefaultFooter();
            }
        });

        function SetFooterVisible(sel) {
            HideAllFooter();
            var footer = document.getElementById(sel + 'Footer');

            if (footer) {
                footer.style.display = 'table-row';
                setCookie('agrMode', sel, 1);
            }
            else {
                SetDefaultFooter();
            }
        }

        function HideAllFooter() {
            var arr = ["minFooter", "avgFooter", "sumFooter", "maxFooter"];

            arr.forEach(function (item, i, arr) {
                HideElem(item);
            });
        }

        function HideElem(elemName) {
            footer = document.getElementById(elemName);

            if (footer) {
                footer.style.display = 'none';
            }
        }

        function SetDefaultFooter() {
            var footer = document.getElementById("sumFooter");

            if (footer) {
                footer.style.display = 'table-row';
                setCookie('agrMode', 'sum', 1);
                let element = document.getElementById('agrMod');
                element.value = 'sum';
            }
        }

        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }

        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function eraseCookie(name) {
            document.cookie = name + '=; Max-Age=-99999999;';
        }
    </script>
}